<? --include 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' ?>
<? --include 'http://code.jquery.com/jquery-1.9.1.js' ?>
<? --include 'http://code.jquery.com/ui/1.10.3/jquery-ui.js' ?>

<? --include 'http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/smoothness/jquery-ui.css' ?>
<? --include 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.js' ?>
<? --include 'http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.js' ?>
<? --include("css/style.css")?>

<? include 'http://cdn.staticfile.org/jquery/1.9.1/jquery.js' ?>
<? include 'http://cdn.staticfile.org/jqueryui/1.10.3/jquery-ui.js' ?>
<? include 'http://cdn.staticfile.org/jqueryui/1.10.3/css/base/jquery.ui.all.css' ?>

<? include('css/normalize.css')?>
<? if req.url.path:match("^/login") then include('css/login/style.css') end?>
<? if req.url.path:match("^/edit") then include('css/edit/style.css') end?>
