<? include 'http://cdn.staticfile.org/jquery/1.9.1/jquery.js' ?>
<? include 'http://cdn.staticfile.org/jqueryui/1.10.3/jquery-ui.js' ?>
<? include 'http://cdn.staticfile.org/jqueryui/1.10.3/css/base/jquery.ui.all.css' ?>

<? if req.url.path:match("^/login") then include('css/normalize.css') end?>
<? if req.url.path:match("^/login") then include('css/login/style.css') end?>
<? if req.url.path:match("^/edit") then include('css/edit/style.css') end?>
<? if req.url.path:match("^/edit") then include('jqtree/tree.jquery.js') end?>
<? if req.url.path:match("^/edit") then include('jqtree/jqtree.css') end?>
<? if req.url.path:match("^/edit") then include('jqtree/example.css') end?>
<? if req.url.path:match("^/edit") then include('jquery.contextMenu/jquery.contextMenu.css') end?>
<? if req.url.path:match("^/edit") then include('jquery.contextMenu/jquery.contextMenu.js') end?>

<? include("css/style.css")?>
