
<? include 'header.html' ?>
<div class="content">
	<input id="btnLogout" type="button" value="登出" onclick="window.location.href='login/logout'" />
	<input id="btnChangePass" type="button" value="更改密码" onclick="window.location.href='login/modify'" />
	<br>
	<br>
	<?
	for k, v in pairs(apps) do
	?>
		<div class="app_name">
			<label> Application: </label>
			<?=v.name?>
			<? if v.name ~= 'admin' then ?>
			<!-- <input type="button" value="Access" onclick="window.location.href='<?=URL('/'..v.name)?>'" /> -->
			<input type="button" value="Access" onclick="window.open('<?=URL('/'..v.name)?>')" />
			<input type="checkbox" name="<?='btnEnable'..v.name?>" onclick="
				if(this.checked) 
				{
					window.location.href='<?=URL('enable', {app=v.name, enable=true})?>'
				}
				else
				{
					window.location.href='<?=URL('enable', {app=v.name, enable=false})?>'
				}
			" <?=v.enable and 'checked' or ''?> />
			<? end ?>
			<input type="button" value="Edit" onclick="window.location.href='<?=URL('edit/', {app=v.name}) ?>'" />
			<br>
			<br>
		</div>
	<?
	end
	?>

</div>
<? include 'footer.html'?>
