
body {
	margin-left: 15px;
	margin-top: 15px;
	/*
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
	*/
}

.myjquery_toolbar {
	margin-left: 1px;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}


#footer {
	float: bottom;
	font-size: 62.5%;
	vertical-align: middle;
	text-align: center;
}

img {
	vertical-align: middle;
} 
