<? include('header.html') ?>

<div id="app_title">
	<a href="<?=URL("edit/", {app=req.url.query.app})?>" >
		<?=req.url.query.app?>
	</a>
</div>

<div class="container-folder">
<div id="tree1" class="context-menu-folder" data-url="<?=URL("edit/fm", {app=req.url.query.app})?>"></div>
</div>

<script>
	$(function() {
		$.contextMenu({
			selector: '.context-menu-folder', 
			trigger: 'none',
			callback: function(key, options) {
				var m = "clicked: " + key;
				window.console && console.log(m) || alert(m); 
			},
			items: {
				"edit": {name: "Edit", icon: "edit"},
				"cut": {name: "Cut", icon: "cut"},
				"copy": {name: "Copy", icon: "copy"},
				"paste": {name: "Paste", icon: "paste"},
				"delete": {name: "Delete", icon: "delete"},
				"sep1": "---------",
				"quit": {name: "Quit", icon: "quit"}
			}
		});

		var $tree = $('#tree1');
		$tree.tree({
			autoOpen: 1,
			onCreateLi: function(node, $li) {
				if (node.type == "file") {
					// Append a link to the jqtree-element div.
					// The link has an url '#node-[id]' and a data property 'node-id'.
					$li.find('.jqtree-element').append(
					'<a href="#node-'+ node.id +'" class="edit" data-node-id="'+
						node.id +'">edit</a> <a href="#node-'+ node.id +'" class="delete" data-node-id="'+
						node.id +'"> delete</a>'
						//'<div class="edit" data-node-id="'+node.id +'">edit</div>'
					);
				}
				if (node.type == "root") {
					$li.find('.jqtree-element').append(
					'<a href="#node-'+ node.id +'" class="browse" data-node-id="'+
						node.id +'"> browse</a>'
					);
				}
				if (node.type == "folder") {
					$li.find('.jqtree-element').append(
					'<a href="#node-'+ node.id +'" class="delete" data-node-id="'+
						node.id +'"> delete</a> <a href="#node-'+ node.id +'" class="addfile" data-node-id="'+
						node.id +'"> addfile</a>'
					);
				}
			}
		});

		// Handle a click on the edit link
		$tree.on(
		'click', '.edit',
			function(e) {
				// Get the id from the 'node-id' data property
				var node_id = $(e.target).data('node-id');

				// Get the node from the tree
				var node = $tree.tree('getNodeById', node_id);

				if (node) {
					// Display the node name
					reload_file(node_id)
				} else {
					alert('message');
				}
			}
		);
		$tree.on(
		'click', '.browse',
			function(e) {
				// Get the id from the 'node-id' data property
				var node_id = $(e.target).data('node-id');
				// 
				window.open("/"+ node_id);
			}
		);
		$tree.bind(
			'tree.click', function(event) {
				var node = event.node;
				//alert(node.name);
//				$(".context-menu-folder").contextMenu();
				var editor = ace.edit("editor");
				editor.getSession().setValue("...");
				editor.setReadOnly(true);
			}
		);

		$tree.bind(
			'tree.contextmenu', function(event) {
				var node = event.node;
				//alert(node.name)
//				$(".context-menu-folder").contextMenu();
			}
		);
	});

</script>

<div class="container-editor">

<div id="toolbar" class="ui-widget-header ui-corner-all">
	<button id="save">Save file</button>
	<button id="reload">Reload file</button>
</div>


<div id="editor">file is loading....</div>

<? include("http://cdn.staticfile.org/ace/1.1.01/ace.js") ?>
<? include("http://cdn.staticfile.org/ace/1.1.01/mode-luapage.js") ?>
<? include("http://cdn.staticfile.org/ace/1.1.01/mode-lua.js") ?>
<? include("http://cdn.staticfile.org/ace/1.1.01/mode-css.js") ?>
<? include("http://cdn.staticfile.org/ace/1.1.01/theme-monokai.js") ?>

<script>
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/monokai");

	<?
	local mode = "javascript"
	if file and file:match("%.lua$") then
		mode = "lua"
	end
	if file and file:match("%.css$") then
		mode = "css"
	end
	if file and file:match("%.html$") then
		mode = "luapage"
	end
	?>
	editor.getSession().setMode("ace/mode/<?=mode?>");

	$( "#save" ).button({
			//text: false,
			icons: {
				primary: "ui-icon-disk"
			}
		})
		.click(function(){
			save_file()
		});
		$( "#reload" ).button({
			//text: false,
			icons: {
				primary: "ui-icon-document"
			}
		})
		.click(function(){
			var $tree = $('#tree1');
			var node = $tree.tree('getSelectedNode');
			reload_file(node.id)
		});

	function save_file() {
		var $tree = $('#tree1');
		var node = $tree.tree('getSelectedNode');
		var content = editor.getSession().getValue();
		$.post("save", { file: node.id, content: content },
		function(data){
		//	alert("Data Saved: " + data);
		})
		.done(function() {
			$("textarea#output_box").append("Data Saved successfully!!\n");
			//alert("Data Saved successfully!!");
		})
		.fail(function() {
			$("textarea#output_box").append("Failed to save content to file!!\n");
			//alert("Failed to save content to file!!");
		});
	}
	function reload_file(filename) {
		$.get("file", { app: "<?=req.url.query.app?>", file: filename }, function(data) {
			editor.setReadOnly(false);
			editor.getSession().setValue(data);
		})
		.done(function() {
			//alert( "file load success" );
		})
		.fail(function() {
			editor.getSession().setValue("failed to load file");
		});
	}
	editor.commands.addCommand({
		name: 'myCommand',
		bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
		exec: function(editor) {
			save_file()	
		},
		readOnly: true // false if this command should not apply in readOnly mode
	});
</script>

<div id="output">
<textarea id="output_box">
ready!!
</textarea>
</div>

</div>
<? include('footer.html') ?>
